In [1]:
import pandas as pd
import numpy as np

In [2]:
# Question 1
pd.__version__

'2.0.3'

In [3]:
df = pd.read_csv('housing.csv')
df.head(15)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
7,-122.25,37.84,52.0,3104.0,687.0,1157.0,647.0,3.1200,241400.0,NEAR BAY
8,-122.26,37.84,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0,NEAR BAY
9,-122.25,37.84,52.0,3549.0,707.0,1551.0,714.0,3.6912,261100.0,NEAR BAY
10,-122.26,37.85,52.0,2202.0,434.0,910.0,402.0,3.2031,281500.0,NEAR BAY
11,-122.26,37.85,52.0,3503.0,752.0,1504.0,734.0,3.2705,241800.0,NEAR BAY
12,-122.26,37.85,52.0,2491.0,474.0,1098.0,468.0,3.0750,213500.0,NEAR BAY
13,-122.26,37.84,52.0,696.0,191.0,345.0,174.0,2.6736,191300.0,NEAR BAY
14,-122.26,37.85,52.0,2643.0,626.0,1212.0,620.0,1.9167,159200.0,NEAR BAY

In [4]:
# Question 2
df.shape

(20640, 10)

In [5]:
# Question 3
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [6]:
# Question 4
df['ocean_proximity'].unique().shape

(5,)

In [7]:
# Question 5
df[df['ocean_proximity']=="NEAR BAY"]['median_house_value'].mean()

259212.31179039303

In [8]:
# Question 6
bedmean = df['total_bedrooms'].mean()
print('Mean value of total_bedrooms:', bedmean)

new_bedmean = df['total_bedrooms'].fillna(bedmean).mean()
print('Mean value of new total_bedrooms:', new_bedmean)

Mean value of total_bedrooms: 537.8705525375618
Mean value of new total_bedrooms: 537.8705525375617

In [9]:
# Question 7
islands = df[df['ocean_proximity']=="ISLAND"][['housing_median_age', 'total_rooms', 'total_bedrooms']]
islands.head()

      housing_median_age  total_rooms  total_bedrooms
8314                27.0       1675.0           521.0
8315                52.0       2359.0           591.0
8316                52.0       2127.0           512.0
8317                52.0        996.0           264.0
8318                29.0        716.0           214.0

In [45]:
X = np.array(islands)
XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 9.19403586e-04, -3.66412216e-05,  5.43072261e-05],
       [-3.66412216e-05,  8.23303633e-06, -2.77534485e-05],
       [ 5.43072261e-05, -2.77534485e-05,  1.00891325e-04]])

In [46]:
y = np.array([950, 1300, 800, 1000, 1300])

In [47]:
w = (XTX_inv @ X.T) @ y
print(w)

[23.12330961 -1.48124183  5.69922946]

In [49]:
w[2]

5.699229455065565